/* _config.scss */

$font---family: Arial, Helvetica, sans-serif;

$bg---header:#ff9494; // #ffffff;
$bg---body: #bfffc4; // #ffffff;

// main application buttons
$bg---btn--one: #105e2f;
$bg---btn--hover-one: #d10d2e;

// score buttons

$col---primary: #000000;
$col---secondary: #ffffff;
$col---tertiary: #d10d2e;

$col---link--color-primary: #d10d2e;
$col---link--color-primary-hover: #105e2f;

$font---size--lg: 32px;
$font---size--md: 16px;
$font---size--sm: 12px;
$font---size--xl: 10px;

$font---size--h1: 32px;
$font---size--h2: 16px;


$breakpoint---md: 660px;
$breakpoint---sm: 470px;
